*{margin: 0; padding: 0;} 

nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
	background: white;
}

a.nav-link {
	font-family: segoe ui;
	text-transform: uppercase;
	font-size: 13px;
	color: #101010;
	line-height: 79px;
}

li.nav-item {
	margin: 0;
	padding: 0;
	margin: 0 17px;
}

nav.navbar.navbar-light.bg-faded {
	margin: 0;
	padding: 0;
	height: 100px;
}

@media (max-width: 576px){
    * {}

h2.tieudecap2.text-sm-left.text-xs-center {
    margin-top: 25px;
}

.tt img {
    width: 203px;
    margin-top: 108px;
}

li.nav-item {
    float: none!important;
    display: inline;
}

ul.nav.navbar-nav.float-xs-right {
    text-align: center;
    background: white;
    margin: 0;
    padding: 0;
    width: 104%;
    /* position: relative; */
    /* left: -8px; */
    padding: 10px 34px;
    border-top: 1px solid #d8d8d8;
}

ul.nav.navbar-nav.float-xs-right {}

li.nav-item {
    display: inline!important;
    margin: 0 0;
}

a.nav-link {
    line-height: 27px;
    display: inline!important;
}

a.navbar-brand {
    display: block;
    text-align: center;
    width: 100%;
}
	
} 
